.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: calc(100% + 1px);
  left: 50%;
  margin-left: -150%;

  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  white-space: nowrap;
  opacity: 1;
}

.tooltipText::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
